<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LoginProject</display-name>
  <servlet>
    <servlet-name>blog</servlet-name>
    <jsp-file>/blog.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blog</servlet-name>
    <url-pattern>/blog.wl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact.wl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About</servlet-name>
    <jsp-file>/about.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About.wl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADMIN</servlet-name>
    <jsp-file>/Admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMIN</servlet-name>
    <url-pattern>/Admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allDoc</servlet-name>
    <jsp-file>/allDoc.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>allDoc</servlet-name>
    <url-pattern>/AllDocumnet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home.wl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayJason</servlet-name>
    <jsp-file>/DisplayJasonC.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayJason</servlet-name>
    <url-pattern>/DisplayJason.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.wl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newJson</servlet-name>
    <jsp-file>/newJson.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>newJson</servlet-name>
    <url-pattern>/newJson.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user</servlet-name>
    <jsp-file>/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyProfile</servlet-name>
    <jsp-file>/MyProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfile</servlet-name>
    <url-pattern>/MyProfile.do</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>AddToJson</servlet-name>
    <jsp-file>/AddToJson.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToJson</servlet-name>
    <url-pattern>/AddToJson.do</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>filter01</filter-name>
    <filter-class>com.asal.training.filters.filter01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter01</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>